/******** 
reset 
********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}


/******** 
common
********/

.container {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.debug {
  /* display: none; */
  border: 1px dashed #000000;
}

.none {
  display: none;
}

.inl {
  display: inline;
}

.inl-bl {
  display: inline-block;
}






body {
  font-family: "Open Sans", sans-serif;
}


/****************
  HEADER  
****************/

header>div {
  padding: 20px;
  height: 120px;
}

header img {
  height: 100%;
}

header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

header ul a {
  text-decoration: none;
  color: #1c1c1c;
  font-size: 11px;
}



/****************
  MAIN
****************/

main {
  background-color: #1c1c1c;
}

main .container div {
  color: #ffffff;
  font-size: 30px;
  padding: 60px 0;
}